html,body {
  background-color: #767677;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand{
  color: #fff;
	
}
.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
}

.nav-link{
	color:#545b62;
}