html,body {
	background-color: #C8E6C9;
}

.navbar {
	background-color: #1B5E20;
}
.navbar-light .navbar-brand{
	color: #ffffff;
}
.navbar-light .navbar-nav .nav-link{
	color: #ffffff;
}

.btn-lg{
    border: 10px;
}

.moroso{
	background-color: #ff9800;
}