html,body {
  background-color: #EEEEEE;
}

.navbar {
  background-color: #ffeb40;
}

.navbar-brand{
  color: black;
	
}
.navbar-expand-lg .navbar-nav .nav-link{
	color: black;
}

.nav-link{
	color:#545b62;
}

.cont_form{
	/*background-color: #626f7b;*/
    padding-top: 3%;
    padding-bottom: 3%;
}

.moroso{
	background-color: #fd9696;
}
